@use "../abstracts/colors";

.midSection{
    height: auto;
    width: 100rem;
    background-color: colors.$light-purple;
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}