body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url("../images/background.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main{
    width: 100%;
    height: calc(100% - 10rem);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;


    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.3;
        z-index: 1;
    }
}