$primary-color: #1b4d4e;
$secondary-color: #f4a261;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;

$border-radius: 4px;

$light-purple: #604D8A;
$dark-purple: #462F79;

$yellow: #F4C05D;

$white:#eee;